<form [formGroup]="form">
  <input formControlName="singer"
         placeholder="Singer"> <br>
  <input formControlName="name"
         placeholder="Name"><br>
  <input formControlName="linkUrl"
         placeholder="Link"><br>
  <select formControlName="genre_id">
    <option disabled>Choose genre</option>
    <option *ngFor="let genre of genres"
            [ngValue]="genre.id">
      {{ genre.name }}
    </option>
  </select> <br>
  <textarea formControlName="lyrics"></textarea><br>
  <textarea formControlName="translate"></textarea><br>
  <button (click)="emitForm()" [disabled]="form.invalid">Submit</button>
</form>
