mat-icon {
  margin: 0 8px;
  font-size: 21px;
}

.icon {
  &-like {
    color: #7FFF00;
  }

  &-dislike {
    color: #FF0000;
  }
}

.rating {
  display: flex;
  justify-content: right;
  width: 15%;
}

@media (max-width: 767px) {
  .rating:nth-child(3n + 1),
  .rating:nth-child(3n + 2) {
    display: none;
  }
}
