<!-- <div>
  {{ song?.singer }} - {{ song?.name }}
</div>
<div>
  <b>Genre:</b> {{ song?.genre_name }}
</div>
<div>
  <b>views:</b> {{ song?.views }}
</div>
<div>
  <button (click)="putMark('likes')"
          [ngClass]="{ clicked: isLiked }">
    Like
  </button> {{ song?.rating.likes }} <br>
  <button (click)="putMark('dislikes')"
          [ngClass]="{ clicked: isDisliked }">
    Dislike
  </button> {{ song?.rating.dislikes }}
</div>
<div>
  <b>lyrics: </b> <br> {{ song?.lyrics }}
</div>
<div *ngIf="song?.translate">
  <b>translate:</b> <br> {{ song?.translate }}
</div>
<div>
  <b>Author of the lyrics:</b>
  <span (click)="showUserProfile()"> {{ song?.author.username }} </span>
  {{ song?.author.birthday }}
</div>
<div>
  <iframe *ngIf="song?.linkUrl"
        [src]="song?.linkUrl | safe">
</iframe>
</div>
<button [hidden]="!isUserSong" (click)="navigateToEditSong()">
  Edit song
</button> -->
<mat-card>
  <mat-card-header>
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>{{ song?.singer }}</mat-card-title>
    <mat-card-subtitle>{{ song?.name }} | {{ song?.genre_name }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <pre>
      {{ song?.lyrics }}
    </pre>
    <pre *ngIf="song?.translate">
      {{ song?.translate }}
    </pre>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button
            (click)="putMark('likes')"
            [ngClass]="{ clicked: isLiked }"
            matBadge="{{ song?.rating.likes }}"
            matBadgePosition="after"
            matBadgeColor="accent">
      LIKE
    </button>
    <button mat-button
            (click)="putMark('dislikes')"
            [ngClass]="{ clicked: isDisliked }"
            matBadge="{{ song?.rating.dislikes }}"
            matBadgePosition="after"
            matBadgeColor="accent">
      DISLIKE
    </button>
    <button mat-raised-button
            (click)="showUserProfile()"
            color="primary">
      {{ song?.author.username }}
    </button>
    <button mat-button
            color="warn"
            [hidden]="!isUserSong"
            (click)="navigateToEditSong()">
      EDIT
    </button>
  </mat-card-actions>
</mat-card>
<mat-card *ngIf="song?.linkUrl">
  <iframe [src]="song?.linkUrl | safe">
  </iframe>
</mat-card>
